<div className="container px-5 my-5">
  <form id="contactForm" data-sb-form-api-token="API_TOKEN">
    <div className="mb-3">
      <label className="form-label" htmlFor="name">Name</label>
      <input className="form-control" id="name" type="text" placeholder="Name" name="name" />
    </div>
    <div className="mb-3">
      <label className="form-label" htmlFor="price">price</label>
      <input className="form-control" id="price" type="number" placeholder="price" name="price" />
    </div>
    <div className="mb-3">
      <label className="form-label" htmlFor="author">author</label>
      <input className="form-control" id="author" type="text" placeholder="author" name="author" />
    </div>
    <div className="mb-3">
      <label className="form-label" htmlFor="category">category</label>
      <select className="form-select" id="category" aria-label="category">
        <option value={1}>1</option>
      </select>
    </div>
    <div className="d-grid">
      <button className="btn btn-primary btn-lg" id="submitButton" type="submit">Submit</button>
    </div>
  </form>
</div>
